{% extends "./base.html" %}

<!DOCTYPE HTML>

<html lang="en">
    <head>
        {% block headerContent %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load static %}
        {% endblock headerContent %}
    </head>
    {% block pageContent %}
    <body>
        <div class="main-page-container">
            <div class="main-page-text-container">
                <span class="main-page-text">Prescription Couriers & Medical Equipment Deliveries</span>
            </div>
        </div>
    </body>
    {% endblock pageContent %}
</html>

